.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-text-1 {
  margin: 33px 0 0;
}

.u-section-1 .u-image-1 {
  width: 315px;
  height: 368px;
  margin: -30px auto 0 90px;
}

.u-section-1 .u-text-2 {
  margin: -285px 53px 0 471px;
}

.u-section-1 .u-image-2 {
  width: 217px;
  height: 97px;
  margin: -254px auto 60px 155px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 304px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 124px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 123px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 123px;
  }
}