.u-section-1 .u-sheet-1 {
  min-height: 1102px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 207px;
  margin: 18px 459px 0 26px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 207px;
  margin: -199px 0 0 495px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 207px;
  margin: 18px 72px 0 44px;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 207px;
  width: 813px;
  margin: 40px auto 0;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 207px;
  width: 813px;
  margin: 44px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 265px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 275px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 721px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-4 {
    width: 721px;
  }

  .u-section-1 .u-custom-html-5 {
    width: 721px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 85px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 95px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 541px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 541px;
  }

  .u-section-1 .u-custom-html-5 {
    width: 541px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 84px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 94px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-3 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-5 {
    width: 340px;
  }
}