.u-section-1 .u-sheet-1 {
  min-height: 1074px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 211px;
  margin: 34px 471px 0 81px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 211px;
  margin: -211px 66px 0 471px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 207px;
  margin-top: 54px;
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 207px;
  margin-top: 34px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 300px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 316px;
    width: 405px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 120px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 119px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 0;
    width: 340px;
  }
}