.u-section-1 .u-sheet-1 {
  min-height: 1692px;
}

.u-section-1 .u-image-1 {
  width: 150px;
  height: 99px;
  margin: 16px 56px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -99px 71px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}